*{
    margin: 0;
    padding: 0;
}

.box {
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    gap: 15px;
    text-align: justify;
    justify-content: space-evenly;
}

#cards {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

img {
    height: 200px;
    object-fit: cover;
}


